@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
.App{
    position: relative;
  width: 100%;
  background-color: rgb(243,242,239);
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  height: fit-content;
}


/***************************/
/******** Navbar css ******/
/**************************/
.nav{
    width: 100%;
    height: 3.7rem;
    top: 0%;
    z-index: 1;
    position: fixed;
    background-color: white;
}
.navbar{
    width: 75%;
    margin: auto;
    height: 3.7rem;
}
.navbar .navbar-part-one{
 width: 30%;
 height: 3rem;
}
.navbar .navbar-part-one svg{
        color: rgb(10,102,194);
        width: 2.7rem;
        cursor: pointer;
        height: fit-content;
}
.navbar .navbar-part-one input{
    border: none;
    background-color: rgb(238,243,248);
    border-radius: .3rem;
    width: 100%;
    height: 2.2rem;
    margin-top: .2rem;
}
.navbar .navbar-part-two{
    width: 70%;
    height: 3rem;
   }
.navbar ul li{
    list-style: none;
}
.navbar ul{
    float: right;
}
.navbar .navbar-part-two .dropdown-menu[data-bs-popper]{
   min-width: 15rem !important;
   left: -12.5rem !important;
}
.navbar .navbar-part-two .dropdown-menu .navbar .navbar-part-two .dropdown-menu .btn-check:focus+.btn, .btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%) !important;
}
.navbar .navbar-part-two .dropdown-menu img{
   height: 3rem;
   border-radius: 1.5rem;
}
.navbar .navbar-part-two .dropdown-menu ul li{
    color: rgb(94,94,94);
}
.navbar .navbar-part-two .dropdown-menu ul li h6{
    font-weight: 600;
    color: black;
}
.navbar .navbar-part-two .dropdown-menu label{
    font-size: .9rem;
}

.dropdown{
    width: 3rem;
    height:3.9rem;
    position: relative;
}
.dropdown button >img{
    width:2rem;
    position: absolute;
    left: 0%;
    top: 0%;
    border-radius: 50%;
}
.dropdown button label{
    position: absolute;
    left: 0%;
    top: 50%;
    cursor: pointer;
    font-size: .8rem;
}
.dropdown .dropdown-toggle::after{
    position: absolute;
    bottom: 30%;
    left: 40%;
}
.navbar-part-two label{
    font-size: .8rem;
}

/*************************************/
/******** Home left sidebar css ******/
/*************************************/
.home{
    height: fit-content;
    width: 75%;
    margin-top: 4rem !important;
    margin: auto;
    padding-top: 1rem;
}

.home-left-sidebar ,.home-left-sidebar2{
    height: fit-content;
    overflow: hidden;
    padding-bottom: 1rem;
    margin: 0% !important;
    border-radius: .7rem;
    background-color: white;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(224,223,220,1);
-moz-box-shadow: 0px 0px 6px 1px rgba(224,223,220,1);
box-shadow: 0px 0px 6px 1px rgba(224,223,220,1);
}

.home-left-sidebar2{
    margin-top: 1rem !important;
    position: sticky !important;
    top: 0;
    border: 1px solid;
}

.home-left-sidebar .user{
 height: 8.5rem;
 position: relative;
 
}
.home-left-sidebar .user label{
        font-weight: 500;
}
.home-left-sidebar .user span{
    font-size: .8rem;
    color: rgb(94,94,94);
}
.home-left-sidebar-part-one{
    width: 100%;
    height: fit-content;
}

.home-left-sidebar .user img{
        width: 100%;      
}
.home-left-sidebar .user .img{
    position: absolute;
    width: 30%;
    border-radius: 50%;
    top: 16%;
    left: 35%;
}

.home-left-sidebar .row span{
    font-size: .8rem;
    color: rgb(94,94,94);
    font-weight: 500;
}

.home-left-sidebar .tools span{
    font-size: .8rem;
    font-weight: 600;
    border-bottom: 1px solid;
}
.home-left-sidebar .tools label{
    font-size: .8rem;
}
.home-left-sidebar .my-item span{
    font-weight: 600;
    font-size: .8rem;
    margin-left: .7rem;
}

.home-left-sidebar ,.home-left-sidebar2>div>span{
    font-weight: 600;
    font-size: .8rem;
    margin-left: .7rem;
    color: rgb(10,102,194);
}

/*********** home middle css **********/
.mid{
    width: 100%;
}
.home-middle{
    border: 1px solid;
    width: 100%;
    background-color: white;
    height: 8rem;
    border: 1px solid rgb(178,178,178);
    border-radius: 1rem;
}
.home-middle img{
    width: 3rem;
    border-radius: 50%;
}
.home-middle button{
    border-radius: 2rem;
    border: 1px solid rgb(178,178,178);
    padding: .7rem;
    font-size: .9rem;
    background-color: white;
    width: 100%;
    font-weight: 500;
    color: rgb(121,121,121);
}
.home-middle .part-two button{
     font-weight: 500;
     font-size: .9rem;
     text-align: left;
    width: 100%;
    background-color: white;
    border:none;
    color: rgb(121,121,121);
}
.home-middle .part-three{
    height: 2.5rem;
}
.home-middle .dropdown{
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 0%;
}
.home-middle .dropdown button{
    width: fit-content;
    border: none;
    font-weight: 100;
    font-size: .8rem !important;
    background-color: transparent;
}
.home-middle .dropdown .dropdown-toggle::after {
    position: absolute;
    bottom: 40%;
    left: 90%;
}

.home-middle .hr{
    height: 1px;
    position: absolute;
    width: 82%;
    bottom:1%;
}
.home-middle .dropdown .dropdown-menu{
    min-width: 7rem !important;
}
.home-middle .dropdown .dropdown-toggle span{
    color: rgb(109, 109, 109) !important;
    padding-left: .2rem;
    font-weight: 500;
}
/***** home-right-sidebar css ****/
.home-right-sidebar{
    width: 18%;
    position: fixed;
}
.home-right-part-one label{
    font-weight: 600;
}
.home-right-part-one{
    background-color: white;
    border-radius: .7rem;
}
.home-right-part-one ul{
    list-style: none;
    width: 100%;
    font-size: .9rem;
    font-weight: 500;
}

.home-right-part-one ul span{
    font-size: .8rem;
    color: rgb(121,121,121);
    padding-left: .9rem;
    font-weight: 100;
}
.home-right-part-one ul  li{
    padding-top: .5rem;
}


/****** post section css ******/

.post-section{
    margin-top: 2.3rem;
    height: fit-content;
}
.post-section .post{
    border-radius: .7rem;
    background-color: white;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(224,223,220,1);
-moz-box-shadow: 0px 0px 6px 1px rgba(224,223,220,1);
box-shadow: 0px 0px 6px 1px rgba(224,223,220,1);
}
.post-section .post button{
    border: none;
    background-color: transparent;
}

.post-section .post .post-action {
    height: 3rem;
}
.post-section .post .post-action .col-3{
    border-radius: .2rem;
   height: fit-content;
   padding: 1.6%;
}
.post-section .post .post-action .col-3 span{
    text-align: center;
}
.post-section .post .post-action .col-3:hover{
    background-color: rgb(243,242,239);
}
.post .profile-pic{
    border-radius: 50%;
    width: 100%;
}
.post .post-des{
    font-size: .9rem;
    width: 100%;
}
.post .user-des{
    padding: 0%;
    margin: 0%;
    font-size: .7rem;
}
.post .follow{
    font-weight: 500;
    color: rgb(10,102,194);
}