.App{
  width: 70%;
  margin: auto;
  padding: 0;
}

/***************************/
/******** Navbar css ******/
/**************************/
.navbar{
    border: 1px solid;
    height: 3rem;
}
.navbar .navbar-part-one{
 border: 1px solid red;
 width: 30%;
}
.navbar .navbar-part-two{
    border: 1px solid red;
    width: 70%;
   }
.navbar ul li{
    list-style: none;
}
.navbar ul{
    float: right;
}